@model IEnumerable<DBMSProjet.Database.EquipmentAllocation>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">Equipment Allocations</h3>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Duration)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Qty)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Equipment.EquipmentName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Project.ProjectName)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Duration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Qty)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Equipment.EquipmentName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Project.ProjectName)
                                        </td>
                                        <td>
                                            @Html.ActionLink(" ", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "glyphicon glyphicon-pencil" }) |
                                            @Html.ActionLink(" ", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "glyphicon glyphicon-log-in" }) |
                                            @Html.ActionLink(" ", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "glyphicon glyphicon-trash" })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
